[Desktop Entry]
Name=Tuquito ADSL
Comment=Configure your ADSL connection in a faster and easier!
Comment[es]=Configura tu conexión ADSL de una forma más rápida y fácil!
Comment[pt]=Configuração de modem ADSL
Exec=tuquito-adsl
Icon=/usr/lib/tuquito/tuquito-adsl/tuquito-adsl.svg
Terminal=false
Type=Application
Categories=GNOME;GTK;Settings;
NotShowIn=KDE;
X-KDE-SubstituteUID=true
